/* metrics */
div.css-pfwtn7.e1y5xkzn3{
    color:#8D9192
}
div.st-ck.st-c1.st-d6.st-d7.st-d8.st-d9.st-cd.st-cc.st-ca.st-cb.st-c7.st-b8.st-da.st-db.st-dc.st-dd.st-de.st-df.st-dg.st-dh.st-ae.st-af.st-ag.st-di.st-ai.st-aj.st-bz.st-dj.st-dk.st-dl{
    color:#8D9192
}
div.row-widget.stTextInput.css-1ix8xl8.e11y4ecf0{
    color:#8D9192
}
div.css-zt5igj.e1nzilvr3{
    color:#000;
    padding: 20px 20px 20px 70px;
}
div.row-widget.stTextInput.css-18plnlc.e11y4ecf0{
    font-size: 32px;
}
div[class*="stTextInput"] label {
    font-size: 40px;
}